
html,body{
    margin: 0;
    height: 130%;  
    background-color:#999999;
    background-image: url(images/seam.jpg);
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    color:#da2872;
    justify-content: center;
    display:flex;
}

#container{
    width: 970px;
    padding: 10px;
    background-color: rgba(168, 161, 177, 0.747);
    justify-content: center;
    text-align: left;
   

}

#header {
    color:#F50A7F;
    background-color:#f4E2FC;
    width: 950px;
    text-align: center;
    margin: auto;
    border: inset black; 
    padding: 10px 0 10px 0;
}

.sections{ 
    width: 960;
    padding: 10px;
    background-color: #7be4cd;
    margin-top: 10px;
    border:  3px solid black;
    color: rgb(99, 7, 153);
    text-align: justify;
}
img { 
    border:1px solid #000000;
}

a:link{
    color: lightcoral;
}

.nav-bar{
    display: flex;
    justify-content: center;

}

.btn:link{
    background-color:blueviolet;
    text-align: center;
    line-height: normal;
    padding: 10px;
    margin-top: 6px;
    text-decoration: none;
    border-radius: 20px;

}
